bin/
obj/
.vs/
/Src/packages
*.apk
*.user
*.lock.json
*.bak
/Src/Raptor.WebAPI/project.lock.json
/Src/Raptor.WebAPI/project.fragment.lock.json
/Src/Raptor.DataLayer.SQLCLR/Raptor.DataLayer.SQLCLR.dbmdl
/Src/Raptor.DataLayer.SQLCLR/Raptor.DataLayer.SQLCLR.jfm
